<!DOCTYPE html>
<html lang="en">
<!-- 
Author: Zachary P. Lunte 
Last Updated: 4 November 2025
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mac tonic - Label Generator</title>
</head>
<body style="background-color: #999999; background-image: url('static/background_sketch.jpg'); background-position: center top;">
    <div style="text-align:center">	
	<div style="background-color: #444444; text-align: center; padding: 10px; margin: 0; border-radius: 20px;">
	<div style="background-color: #44aa33; text-align: center; color: #ffffff; padding: 10px; margin: 0; border-radius: 20px;">
        <h1 style="margin: 0;">mac tonic - Label Generator</h1>
	</div>
	</div>
	<br>
	<div style="display: inline-block; background-color: #444444; text-align: center; padding: 10px; margin: 0; border-radius: 20px;">
	<div style="display: flex; justify-content: space-between; background-color: #55cc44; text-align: center; padding: 20px; margin: 0; border-radius: 20px;">
		<a href="/" style="background-color: #ffffff; color: #000000; padding: 10px; border-radius: 10px; margin-right: 20px; font-weight: bold;">Homepage</a>
		<a href="mtlg" style="background-color: #ffffff; color: #000000; padding: 10px; border-radius: 10px; margin-right: 20px; font-weight: bold;">Label Generator</a>
		<a href="mtsl" style="background-color: #ffffff; color: #000000; padding: 10px; border-radius: 10px; font-weight: bold; margin-right: 20px;">Serial Lookup</a>
		<a href="mtuf" style="background-color: #ffffff; color: #000000; padding: 10px; border-radius: 10px; font-weight: bold; margin-right: 20px;">Useful Files</a>
		<a href="mtdh" style="background-color: #ffffff; color: #000000; padding: 10px; border-radius: 10px; font-weight: bold; margin-right: 20px;">Diagnosis Helper</a>
                <a href="mlbrr" style="background-color: #ffffff; color: #000000; padding: 10px; border-radius: 10px; font-weight: bold;">MLB Repair Resources</a> 
	</div>
	</div>
	<br><br>
	<div style="display: inline-block; text-align: center; background-color: transparent;">
	<div style="display: inline-block; background-color: #444444; text-align: center; padding: 10px; margin: 0; height: 380px; border-radius: 20px;">
	<form method="POST" style="background-color: #55cc44; padding: 20px; display: inline-block; width: 800px; border-radius: 20px;">
		<h2 style="margin: 0;"><b>Enter the product descriptions and their corresponding prices:</b></h2>
	    <br><br>
	    <label for="product_description_1">Product description:</label>
	    <input type="text" id="product_description_1" name="product_description_1">
	    <label for="product_price_1" style="margin-left: 20px;">Product price:</label>
	    <input type="text" id="product_price_1" name="product_price_1" pattern="[0-9]+" />
	    <br><br>
	    <label for="product_description_2">Product description:</label>
	    <input type="text" id="product_description_2" name="product_description_2">
	    <label for="product_price_2" style="margin-left: 20px;">Product price:</label>
	    <input type="text" id="product_price_2" name="product_price_2">
	    <br><br>
	    <label for="product_description_3">Product description:</label>
	    <input type="text" id="product_description_3" name="product_description_3">
	    <label for="product_price_3" style="margin-left: 20px;">Product price:</label>
	    <input type="text" id="product_price_3" name="product_price_3">
	    <br><br>
	    <label for="product_description_4">Product description:</label>
	    <input type="text" id="product_description_4" name="product_description_4">
	    <label for="product_price_4" style="margin-left: 20px;">Product price:</label>
	    <input type="text" id="product_price_4" name="product_price_4">
	    <br><br>
	    <label for="product_description_5">Product description:</label>
	    <input type="text" id="product_description_5" name="product_description_5">
	    <label for="product_price_5" style="margin-left: 20px;">Product price:</label>
	    <input type="text" id="product_price_5" name="product_price_5">
	    <br><br>
	    <label for="product_description_6">Product description:</label>
	    <input type="text" id="product_description_6" name="product_description_6">
	    <label for="product_price_6" style="margin-left: 20px;">Product price:</label>
	    <input type="text" id="product_price_6" name="product_price_6">
	    <br>
	    <br>
	    <input type="submit" value="Submit">
	    <br><br>
	    <p style="margin: 0;"><b>[Note: Use the full product description as it appears in MGR. Also, the price field only accepts integer values.]</b></p>
	</form>
	</div>
	<br><br>
	<div style="display: inline-block; background-color: #444444; text-align: center; padding: 10px; border-radius: 20px;">
        <div style="width: 800px; background-color: #55cc44; text-align: center; padding: 20px; margin: 0; border-radius: 20px;">
        <object data="{{ url_for('download_pdf', filename='labels.pdf') }}" type="application/pdf" width="100%" height="820px">
        <p>Your browser does not support PDFs.
	<a href="{{ url_for('download_pdf', filename='labels.pdf') }}">Download the PDF</a>.
        </p>
        </object>
	<br><br>
	<p style="margin: 0;"><b>[Note: Label previews are not visible in Google Chrome.]</b></p>
	</div>
	</div>
    </div>
</body>
</html>
