<!DOCTYPE html>
<html lang="en">
<!-- 
Author: Zachary P. Lunte 
Last Updated: 4 November 2025
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mac tonic - Serial Lookup</title>
</head>
<body style="background-color: #999999; background-image: url('static/background_sketch.jpg'); background-position: center top;">
    <div style="text-align:center">	
	<div style="background-color: #444444; text-align: center; padding: 10px; margin: 0; border-radius: 20px;">
	<div style="background-color: #44aa33; text-align: center; color: #ffffff; padding: 10px; margin: 0; border-radius: 20px;">
        <h1 style="margin: 0;">mac tonic - Serial Lookup</h1>
	</div>
	</div>
	<br>
	<div style="display: inline-block; background-color: #444444; text-align: center; padding: 10px; margin: 0; border-radius: 20px;">
	<div style="display: flex; justify-content: space-between; background-color: #55cc44; text-align: center; padding: 20px; margin: 0; border-radius: 20px;">
		<a href="/" style="background-color: #ffffff; color: #000000; padding: 10px; border-radius: 10px; margin-right: 20px; font-weight: bold;">Homepage</a>
		<a href="mtlg" style="background-color: #ffffff; color: #000000; padding: 10px; border-radius: 10px; margin-right: 20px; font-weight: bold;">Label Generator</a>
		<a href="mtsl" style="background-color: #ffffff; color: #000000; padding: 10px; border-radius: 10px; font-weight: bold; margin-right: 20px;">Serial Lookup</a>
		<a href="mtuf" style="background-color: #ffffff; color: #000000; padding: 10px; border-radius: 10px; font-weight: bold; margin-right: 20px;">Useful Files</a>
		<a href="mtdh" style="background-color: #ffffff; color: #000000; padding: 10px; border-radius: 10px; font-weight: bold; margin-right: 20px;">Diagnosis Helper</a>
                <a href="mlbrr" style="background-color: #ffffff; color: #000000; padding: 10px; border-radius: 10px; font-weight: bold;">MLB Repair Resources</a>
	</div>
	</div>
	<br><br>
	<div style="display: inline-block; background-color: #444444; text-align: center; padding: 10px; border-radius: 20px;">
        <div style="background-color: #55cc44; text-align: center; padding: 20px; border-radius: 20px;">
		<h2 style="margin: 0px;">Serial Lookup Links:</h2><br><br>
		<a href="https://checkcoverage.apple.com/?locale=en_US" style="background-color: #88ff88; color: #4444ff; padding: 10px; border-radius: 10px; font-weight: bold; margin-bottom: 20px;">Check Coverage (Apple)</a><br><br><br>
		<a href="https://everymac.com/ultimate-mac-lookup/" style="background-color: #88ff88; color: #4444ff; padding: 10px; border-radius: 10px; font-weight: bold; margin-bottom: 20px;">EveryMac</a><br><br><br>
		<a href="https://reincubate.com/lookup/" style="background-color: #88ff88; color: #4444ff; padding: 10px; border-radius: 10px; font-weight: bold; margin-bottom: 20px">Reincubate Lookup</a><br><br><br>
		<a href="http://www.chipmunk.nl/klantenservice/applemodel.html" style="background-color: #88ff88; color: #4444ff; padding: 10px; border-radius: 10px; font-weight: bold;">Chipmunk: Klantenservice</a><br><br>
	</div>
	</div>
    </div>
</body>
</html>
